body {
    background-color: rgb(7, 210, 7);
}

h1 {
    background-color: rgb(43, 255, 43);
    margin-top: -20px;
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 80px;
    padding-top: 30px;
    padding-bottom: 20px;
}