body {
    background-color: rgb(7, 210, 7);
}

h1 {
    background-color: rgb(43, 255, 43);
    margin-top: -2%;
    margin-left: -1%;
    margin-right: -10%;
    padding-top: 2%;
    padding-bottom: 2%;
}


.container1{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    height: 5%;
    width: 30%;
    background-color: rgb(139, 241, 139);
    border-radius: 15px; 
}

#container2{
    padding-left: 1%;
    padding-right: 1%;
    padding-bottom: 1%;
    height: 5%;
    width: 50%;
    background-color: rgb(139, 241, 139);
    border-radius: 15px; 
}